﻿@model Inventario.Models.sucursales

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>sucursales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Código de barras</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in ViewBag.productos)
            {
                <tr>
                    <td>@producto.nombre</td>
                    <td>@producto.codigo</td>
                    <td>@producto.precio</td>
                    <td>@producto.cantidad</td>
                    <td>
                        <button type="button" onclick="setId(@producto.id_producto,@Model.id_sucursal)" class="btn btn-success" data-toggle="modal" data-target="#modalAdd">
                            Agregar
                        </button>
                    </td>
                    <td>
                        <button type="button" onclick="setData(@producto.id_producto,@Model.id_sucursal)" class="btn btn-danger" data-toggle="modal" data-target="#modalDiscount">
                            Vender
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_sucursal }) |
    @Html.ActionLink("Regresar", "Index")
</p>

<!-- Modal -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar stock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Sucursales/AddStock" method="post">
                    <input type="hidden" id="id_producto" name="id_producto" />
                    <input type="hidden" id="id_sucursal" name="id_sucursal" />
                    <input type="number" class="form-control" name="cantidad" placeholder="Cantidad" required autofocus>
                    <br />
                    <button class="btn btn-primary" type="submit">
                        Agregar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDiscount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vender producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Sucursales/DiscountStock" method="post">
                    <input type="hidden" id="id_pro" name="id_pro" />
                    <input type="hidden" id="id_suc" name="id_suc" />
                    <input type="number" class="form-control" name="cantidad" placeholder="Cantidad" required autofocus>
                    <br />
                    <button class="btn btn-primary" type="submit">
                        Vender
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function setId(id_producto, id_sucursal) {
        //agregamos el valor a los input
        $("#id_producto").val(id_producto);
        $("#id_sucursal").val(id_sucursal);
    }

    function setData(id_pro, id_suc) {
        //agregamos el valor a los input
        $("#id_pro").val(id_pro);
        $("#id_suc").val(id_suc);
    }
</script>