﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proyecto inventario</h1>
    <p class="lead">Permite registrar productos y sucursales, y actualizar el stock ya sea agregando más productos o al hacer una venta</p>
    <p></p>
</div>

